In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# Exercise 1

In [155]:
S = [100 , 50 , 25]
Q = [1 , 3 , 5]
sig = np.log(S)
delta_sig_sd = np.array([1 , 2 , 3]) * 10**-3
N = 10**4
alpha = np.arange(.9,1,.01)

In [156]:
col_names = ['t3_1' , 't10_1' , 't50_1' , 'norm_1' , 't3_2' , 't10_2' , 't50_2' , 'norm_2' ,'t3_3' , 't10_3' , 't50_3' , 'norm_3']
df = pd.DataFrame(columns = col_names , index = range(N))
DoF = np.array([3 , 10 , 50])
for i in range(len(S)):
    scale_par = np.sqrt(DoF / (DoF - 2))/ delta_sig_sd[i]
    df[col_names[(i)*4]] = np.random.standard_t(DoF[0],N) / scale_par[0]
    df[col_names[(i)*4 +1]] = np.random.standard_t(DoF[1],N) / scale_par[1]
    df[col_names[(i)*4 +2]] = np.random.standard_t(DoF[2],N) / scale_par[2]
    df[col_names[(i)*4 +3]] = np.random.normal(0,delta_sig_sd[i],N)

In [174]:
col_names2 = ['t3' , 't10' , 't50' , 'norm']
df2 = pd.DataFrame(columns = col_names2 , index = range(N))
df2['t3'] = (S * (np.exp(df[['t3_1','t3_2','t3_3']]) - 1)).sum(axis = 1)
df2['t10'] = (S * (np.exp(df[['t10_1','t10_2','t10_3']]) - 1)).sum(axis = 1)
df2['t50'] = (S * (np.exp(df[['t50_1','t50_2','t50_3']]) - 1)).sum(axis = 1)
df2['norm'] = (S * (np.exp(df[['norm_1','norm_2','norm_3']]) - 1)).sum(axis = 1)

In [175]:
df2

            t3       t10       t50      norm
0     0.233462  0.046062 -0.001875  0.084403
1     0.127546  0.005446  0.113743  0.056243
2     0.060528 -0.126851 -0.054797 -0.107827
3    -0.105472 -0.040223 -0.121470  0.135550
4    -0.086772  0.057117 -0.138028  0.062529
...        ...       ...       ...       ...
9995  0.035175  0.040463 -0.122348 -0.034807
9996  0.156500 -0.018514 -0.271956 -0.041167
9997 -0.182950 -0.200918  0.252192  0.164148
9998 -0.145016  0.070324 -0.087437 -0.158957
9999  0.129360 -0.205839 -0.092228  0.176824

[10000 rows x 4 columns]

In [176]:
df2.quantile(1-alpha)

            t3       t10       t50      norm
0.10 -0.166014 -0.200640 -0.206932 -0.207568
0.09 -0.175741 -0.209806 -0.216065 -0.217211
0.08 -0.186995 -0.221265 -0.227610 -0.227401
0.07 -0.199739 -0.235044 -0.239265 -0.238272
0.06 -0.213898 -0.249027 -0.250859 -0.251169
0.05 -0.230630 -0.262787 -0.264145 -0.266452
0.04 -0.251622 -0.280161 -0.278733 -0.282951
0.03 -0.282072 -0.304681 -0.299355 -0.306040
0.02 -0.329517 -0.334493 -0.325018 -0.335720
0.01 -0.421245 -0.379253 -0.376116 -0.372918

In [177]:
df2.quantile(1-alpha) - df2.mean()

            t3       t10       t50      norm
0.10 -0.167479 -0.201220 -0.207100 -0.206708
0.09 -0.177206 -0.210386 -0.216233 -0.216350
0.08 -0.188460 -0.221845 -0.227779 -0.226540
0.07 -0.201205 -0.235624 -0.239433 -0.237411
0.06 -0.215364 -0.249607 -0.251028 -0.250308
0.05 -0.232095 -0.263367 -0.264313 -0.265592
0.04 -0.253087 -0.280741 -0.278902 -0.282090
0.03 -0.283537 -0.305261 -0.299524 -0.305179
0.02 -0.330982 -0.335072 -0.325187 -0.334860
0.01 -0.422710 -0.379833 -0.376284 -0.372057

In [189]:
df_VaR = pd.DataFrame(columns = col_names2,index = alpha)
for i in range(len(alpha)):
    for j in range(len(col_names2)):
        df_inter = df2[col_names2[j]].sort_values()[:int(round(N * (1 - alpha[i])))]
    #df_inter = df2.sort_values()[:int(round((N*(1-alpha[i]))))]
        df_VaR.at[alpha[i],col_names2[j]] = df2[col_names2[j]].sort_values()[:int(round(N * (1 - alpha[i])))].mean()
df_VaR

            t3       t10       t50      norm
0.90 -0.275354  -0.28403 -0.282377 -0.284205
0.91 -0.286964 -0.292751 -0.290192 -0.292234
0.92 -0.300116 -0.302349 -0.298704 -0.301011
0.93 -0.315321 -0.312974 -0.308044 -0.310741
0.94 -0.333463 -0.324826  -0.31853 -0.321707
0.95 -0.355884 -0.338812 -0.330764 -0.334376
0.96 -0.384736 -0.355665 -0.345598  -0.34937
0.97 -0.424177 -0.376768 -0.364357  -0.36794
0.98 -0.482939 -0.406266 -0.391034 -0.391734
0.99 -0.597185 -0.457798 -0.434882  -0.43066

# Exercise 2

In [7]:
#Set parameters
T = 0.5
r = 0.05
sig = 0.2
S = 100
K = 100
dt = 1/252
q = 0

In [35]:
alpha = np.array([0.95,0.99])
cov = np.array([[10**-6, -0.5 * 10**-7],[-0.5 * 10**-7, 10**-8]])
df = pd.DataFrame(np.random.multivariate_normal([0,0],cov,10**4),columns = ['X_1' , 'X_3'])

In [36]:
def European_Call (S,K,T,q,r,sig):
    d1 = (np.log(S/K) + (r - q + sig**2/2) * T)/(sig * np.sqrt(T))
    d2 = d1 - sig * np.sqrt(T)
    return S * np.exp(-q * T) * stats.norm.cdf(d1) - K * np.exp(-r * T) * stats.norm.cdf(d2)

def Theta(S,K,q,r,sig,delta):
    d1 = (np.log(S/K) + (r - q + sig**2 /2) * delta) / (sig * np.sqrt(delta))
    d2 = d1 - sig * np.sqrt(delta)
    return - np.exp(- q * delta) * S * stats.norm.pdf(d1) * sig / ( 2 * np.sqrt(delta)) - r * K * np.exp(- r * delta) * stats.norm.cdf(d2) + q * S * np.exp(-q * delta) * stats.norm.cdf(d1)

def Delta(S,K,q,r,sig,delta):
    d1 = (np.log(S/K) + (r - q + sig**2 /2) * delta) / (sig * np.sqrt(delta))
    return np.exp(-q*delta) * stats.norm.cdf(d1)

def Vega(S,K,q,r,sig,delta):
    d1 = (np.log(S/K) + (r - q + sig**2 /2) * delta) / (sig * np.sqrt(delta))
    return S * np.exp(-q * delta) * stats.norm.pdf(d1) * np.sqrt(delta)

In [37]:
C0 = European_Call(S,K,T,q,r,sig)
df_real = pd.DataFrame(columns = ['Price' , 'Sig'])
df_real.Price = S * np.exp(df.X_1)
df_real.Sig = sig + df.X_3

In [38]:
Val = pd.DataFrame(columns = ['Monte_Carlo' , 'Lin_Loss'])

In [39]:
Val.Monte_Carlo = C0 - European_Call(df_real.Price, K , T , q , r , df_real.Sig) - S + df_real.Price

In [40]:
Val.Lin_Loss = - (Theta(S,K,q,r,sig,T) * dt + df.X_1 * S *(1 + Delta(S,K,q,r,sig,T)) + df.X_3 * Vega(S,K,q,r,sig,T))

In [42]:
VaR = pd.DataFrame(index = ['Monte_Carlo' , 'Lin_Loss' , 'VarCovar'],columns = ['VaR_0.05','VaR_mean_0.05','ES_0.05','VaR_0.01','VaR_mean_0.01','ES_0.01'])

In [56]:
VaR.loc['Monte_Carlo'][0] = Val.Monte_Carlo.quantile(1 - alpha[0])
VaR.loc['Monte_Carlo'][1] = VaR.loc['Monte_Carlo'][0] - Val.Monte_Carlo.mean()
VaR.loc['Monte_Carlo'][2] = Val.Monte_Carlo.sort_values()[:int(round(N * (1 - alpha[0])))].mean()
VaR.loc['Monte_Carlo'][3] = Val.Monte_Carlo.quantile(1 - alpha[1])
VaR.loc['Monte_Carlo'][4] = VaR.loc['Monte_Carlo'][3] - Val.Monte_Carlo.mean()
VaR.loc['Monte_Carlo'][5] = Val.Monte_Carlo.sort_values()[:int(round(N * (1 - alpha[1])))].mean()

In [58]:
VaR.loc['Lin_Loss'][0] = Val.Lin_Loss.quantile(1 - alpha[0])
VaR.loc['Lin_Loss'][1] = VaR.loc['Lin_Loss'][0] - Val.Lin_Loss.mean()
VaR.loc['Lin_Loss'][2] = Val.Lin_Loss.sort_values()[:int(round(N * (1 - alpha[0])))].mean()
VaR.loc['Lin_Loss'][3] = Val.Lin_Loss.quantile(1 - alpha[1])
VaR.loc['Lin_Loss'][4] = VaR.loc['Lin_Loss'][3] - Val.Lin_Loss.mean()
VaR.loc['Lin_Loss'][5] = Val.Lin_Loss.sort_values()[:int(round(N * (1 - alpha[1])))].mean()

In [152]:
B = np.array([ (Delta(S,K,q,r,sig,T) + 1) * S , Vega(S,K,q,r,sig,T)])
VaR.loc['VarCovar'][0] = - Theta(S,K,q,r,sig,T) * dt + np.sqrt(np.matmul(B.transpose(),np.matmul(B,cov))) * stats.norm.ppf(1 - alpha[0])
VaR.loc['VarCovar'][1] = VaR.loc['VarCovar'][0]
VaR.loc['VarCovar'][2] = - Theta(S,K,q,r,sig,T) * dt + np.sqrt(np.matmul(B.transpose(),np.matmul(B,cov))) * stats.norm.pdf(stats.norm.ppf(1 - alpha[0]))/alpha[0]
VaR.loc['VarCovar'][3] = - Theta(S,K,q,r,sig,T) * dt + np.sqrt(np.matmul(B.transpose(),np.matmul(B,cov))) * stats.norm.ppf(1 - alpha[1])
VaR.loc['VarCovar'][4] = VaR.loc['VarCovar'][3]
VaR.loc['VarCovar'][5] = - Theta(S,K,q,r,sig,T) * dt + np.sqrt(np.matmul(B.transpose(),np.matmul(B,cov))) * stats.norm.pdf(stats.norm.ppf(1 - alpha[1]))/alpha[1]

In [153]:
VaR

,VaR_0.05,VaR_mean_0.05,ES_0.05,VaR_0.01,VaR_mean_0.01,ES_0.01
Monte_Carlo,-0.0676923,-0.0676655,-0.0854525,-0.0962278,-0.096201,-0.110306
Lin_Loss,-0.230745,-0.262787,-0.297985,-0.338092,-0.370135,-0.389182
VarCovar,-0.228377,-0.228377,0.0494053,-0.336341,-0.336341,0.0364712